@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --main-color: #000000;

    --light-black: #000000ae;
    --dark-black: black;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    background: #fff;
    font-family: 'Poppins', sans-serif;
}
a{
    color: unset;
    text-decoration: none;
}
p,span,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
button{
    all: unset;
}
h3{
    font-size: 20px;
    color: var(--light-black);
    margin-bottom: 20px;
    margin-top: 5px;
}


/* accordion 1 css */
.accordion1 .accordion1_items{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20pxpx;
    -moz-column-gap: 20px;
    column-gap: 50px;
}
.accordion1 .container{
    margin: 10px 5%;
}
.accordion1 .accordion1_item{
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 5px;
    border: 1px solid #00000018;
    border-radius: 5px;
    padding: 5px 20px;
    margin-bottom: 30px;
    background: #00000003;
}
.accordion1 .accordion1_qst{
    display: flex;
    gap: 10px;
    align-items: center;
}
.accordion1 .accordion1_qst i{
    font-size: 20px;
    color: var(--light-black);
}
.accordion1 .accordion1_qst p{
    font-size: 17px;
    color: var(--dark-black);
    font-weight: 600;
    line-height: 1.8rem;
}
.accordion1 .accordion1_ans p{
    font-size: 14px;
    color: var(--light-black);
    padding-left: 10px;
    text-align: justify;
}
@media only screen and (max-width: 1000px) {
    .accordion1 .container{
        margin: 10px 2%;
    }
    .accordion1 .accordion1_items{
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 20pxpx;
        -moz-column-gap: 20px;
        column-gap: 50px;
    }
  }


/* accordion 2 css */
.accordion2{
    margin: 30px 5%;
}
.accordion2 .container{
    margin: 0 15%;
}
.accordion2 .accordion2_items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.accordion2 .accordion2_item{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.accordion2 .accordion2_qst{
    display: flex;
    background: blue;
    padding: 5px 5%;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
}
.accordion2 .accordion2_qst div{
    display: flex;
    gap: 30px;
    align-items: center;
}
.accordion2 .accordion2_qst img{
    width: 60px;
    height: 50px;
    border-radius: 5px;
}
.accordion2 .accordion2_qst p{
    color: white;
    font-size: 14px;
    font-weight: 500;
    transform: scaleY(1.2);
}
.accordion2 .accordion2_qst i{
    color: white;
    font-size: 14px;
    font-weight: 500;
    transform: scaleY(1.2);
}
.accordion2 .accordion2_ans{
    padding: 2px 10px;
    text-align: justify;
    color: var(--light-black);
    font-size: 14px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}
.accordion2_item.active .accordion2_ans {
    max-height: 500px;
    background: #0000ff36;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.accordion2_item.active .accordion2_qst{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
@media only screen and (max-width: 1000px) {
    .accordion2{
        margin: 0;
    }
    .accordion2 .container{
        margin: 10px 2%;
    }
    .accordion1 .accordion1_items{
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 20pxpx;
        -moz-column-gap: 20px;
        column-gap: 50px;
    }
  }


/* accordion 3 css */
.accordion3{
    margin: 30px 5%;
}
.accordion3 .container{
    margin: 0 15%;
}
.accordion3 .accordion3_items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.accordion3 .accordion3_item{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.accordion3 .accordion3_qst{
    display: flex;
    padding: 5px 5%;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
}
.accordion3_item:nth-child(1) {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
/*.accordion3_item:nth-child(2) .accordion3_qst {*/
.accordion3_item:nth-child(2) {
    background-color: #BB0505;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}

.accordion3_item:nth-child(3) {
    background-color: #66ff77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='975' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2366ff77'/%3E%3Cstop offset='1' stop-color='%23240'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='975' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23EF5' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23EF5' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23081' stroke-width='10' stroke-miterlimit='10' stroke-opacity='.2'%3E%3Cpolygon points='-500%2C500 500%2C-500 1500%2C500 500%2C1500'/%3E%3Cpolygon points='-475%2C500 500%2C-475 1475%2C500 500%2C1475'/%3E%3Cpolygon points='-450%2C500 500%2C-450 1450%2C500 500%2C1450'/%3E%3Cpolygon points='-425%2C500 500%2C-425 1425%2C500 500%2C1425'/%3E%3Cpolygon points='-400%2C500 500%2C-400 1400%2C500 500%2C1400'/%3E%3Cpolygon points='-375%2C500 500%2C-375 1375%2C500 500%2C1375'/%3E%3Cpolygon points='-350%2C500 500%2C-350 1350%2C500 500%2C1350'/%3E%3Cpolygon points='-325%2C500 500%2C-325 1325%2C500 500%2C1325'/%3E%3Cpolygon points='-300%2C500 500%2C-300 1300%2C500 500%2C1300'/%3E%3Cpolygon points='-275%2C500 500%2C-275 1275%2C500 500%2C1275'/%3E%3Cpolygon points='-250%2C500 500%2C-250 1250%2C500 500%2C1250'/%3E%3Cpolygon points='-225%2C500 500%2C-225 1225%2C500 500%2C1225'/%3E%3Cpolygon points='-200%2C500 500%2C-200 1200%2C500 500%2C1200'/%3E%3Cpolygon points='-175%2C500 500%2C-175 1175%2C500 500%2C1175'/%3E%3Cpolygon points='-150%2C500 500%2C-150 1150%2C500 500%2C1150'/%3E%3Cpolygon points='-125%2C500 500%2C-125 1125%2C500 500%2C1125'/%3E%3Cpolygon points='-100%2C500 500%2C-100 1100%2C500 500%2C1100'/%3E%3Cpolygon points='-75%2C500 500%2C-75 1075%2C500 500%2C1075'/%3E%3Cpolygon points='-50%2C500 500%2C-50 1050%2C500 500%2C1050'/%3E%3Cpolygon points='-25%2C500 500%2C-25 1025%2C500 500%2C1025'/%3E%3Cpolygon points='0%2C500 500%2C0 1000%2C500 500%2C1000'/%3E%3Cpolygon points='25%2C500 500%2C25 975%2C500 500%2C975'/%3E%3Cpolygon points='50%2C500 500%2C50 950%2C500 500%2C950'/%3E%3Cpolygon points='75%2C500 500%2C75 925%2C500 500%2C925'/%3E%3Cpolygon points='100%2C500 500%2C100 900%2C500 500%2C900'/%3E%3Cpolygon points='125%2C500 500%2C125 875%2C500 500%2C875'/%3E%3Cpolygon points='150%2C500 500%2C150 850%2C500 500%2C850'/%3E%3Cpolygon points='175%2C500 500%2C175 825%2C500 500%2C825'/%3E%3Cpolygon points='200%2C500 500%2C200 800%2C500 500%2C800'/%3E%3Cpolygon points='225%2C500 500%2C225 775%2C500 500%2C775'/%3E%3Cpolygon points='250%2C500 500%2C250 750%2C500 500%2C750'/%3E%3Cpolygon points='275%2C500 500%2C275 725%2C500 500%2C725'/%3E%3Cpolygon points='300%2C500 500%2C300 700%2C500 500%2C700'/%3E%3Cpolygon points='325%2C500 500%2C325 675%2C500 500%2C675'/%3E%3Cpolygon points='350%2C500 500%2C350 650%2C500 500%2C650'/%3E%3Cpolygon points='375%2C500 500%2C375 625%2C500 500%2C625'/%3E%3Cpolygon points='400%2C500 500%2C400 600%2C500 500%2C600'/%3E%3Cpolygon points='425%2C500 500%2C425 575%2C500 500%2C575'/%3E%3Cpolygon points='450%2C500 500%2C450 550%2C500 500%2C550'/%3E%3Cpolygon points='475%2C500 500%2C475 525%2C500 500%2C525'/%3E%3C/g%3E%3Crect fill-opacity='.2' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.accordion3 .accordion3_qst div{
    display: flex;
    gap: 30px;
    align-items: center;
}
.accordion3 .accordion3_qst img{
    width: 60px;
    height: 50px;
    border-radius: 5px;
}
.accordion3 .accordion3_qst p{
    color: white;
    font-size: 14px;
    font-weight: 500;
    transform: scaleY(1.2);
}
.accordion3 .accordion3_qst i{
    color: white;
    font-size: 14px;
    font-weight: 500;
    transform: scaleY(1.2);
}
.accordion3 .accordion3_ans{
    padding: 2px 10px;
    text-align: justify;
    color: var(--light-black);
    font-size: 14px;
    overflow: hidden;
    color: white;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}
.accordion3_item.active .accordion3_ans {
    max-height: 500px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.accordion3_item.active .accordion3_qst{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
@media only screen and (max-width: 1000px) {
    .accordion3{
        margin: 0;
    }
    .accordion3 .container{
        margin: 10px 2%;
    }
    .accordion1 .accordion3_items{
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 20pxpx;
        -moz-column-gap: 20px;
        column-gap: 50px;
    }
  }
